﻿@model IEnumerable<SYNEL_TASK.Models.Employee>

@{
    ViewData["Title"] = "AddedRows";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AddedRows Info</h1>

<a asp-action="Index">Back to List</a>

<p>
    Inserted rows count : @Model?.Count();
</p>


<div class="table-responsive border rounded p-1">
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Forenames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payroll_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_of_Birth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail_Home)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start_Date)
                </th>
                <th></th>
            </tr>
        </thead>
        
            <tbody>@foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payroll_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Forenames)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_of_Birth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telephone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address_2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Postcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMail_Home)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Start_Date)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" style="margin-left:5px;margin-right:5px">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" style="margin-left:5px;margin-right:5px">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin-left:5px;margin-right:5px">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
    </table>
</div>

<script>
     $(document).ready(function () {
        $('#example').DataTable({
            "searching": false,
        });
    });
</script>