﻿@model IEnumerable<SYNEL_TASK.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddFile">Add New File</a>
</p>
<div class="table-responsive border rounded p-1">
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Forenames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payroll_Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_of_Birth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Postcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail_Home)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Start_Date)
                </th>
                <th></th>
            </tr>
        </thead>
        @*
            <tbody>@foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Payroll_Number)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Forenames)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date_of_Birth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telephone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address_2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Postcode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EMail_Home)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Start_Date)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>*@
    </table>
</div>

<script type="text/javascript">

    // formating DateTime
    (function (factory) {
        "use strict";

        if (typeof define === 'function' && define.amd) {
            // AMD
            define(['jquery'], function ($) {
                return factory($, window, document);
            });
        }
        else if (typeof exports === 'object') {
            // CommonJS
            module.exports = function (root, $) {
                if (!root) {
                    root = window;
                }

                if (!$) {
                    $ = typeof window !== 'undefined' ?
                        require('jquery') :
                        require('jquery')(root);
                }

                return factory($, root, root.document);
            };
        }
        else {
            // Browser
            factory(jQuery, window, document);
        }
    }
        (function ($, window, document) {


            $.fn.dataTable.render.moment = function (from, to, locale) {
                // Argument shifting
                if (arguments.length === 1) {
                    locale = 'en';
                    to = from;
                    from = 'YYYY-MM-DD';
                }
                else if (arguments.length === 2) {
                    locale = 'en';
                }

                return function (d, type, row) {
                    if (!d) {
                        return type === 'sort' || type === 'type' ? 0 : d;
                    }

                    var m = window.moment(d, from, locale, true);

                    // Order and type get a number value from Moment, everything else
                    // sees the rendered value
                    return m.format(type === 'sort' || type === 'type' ? 'x' : to);
                };
            };


        }));

    $(document).ready(function () {
        $('#example').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "searching": true,
            "ajax": {
                "url": '@Url.Action("Index")',
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "surname", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "forenames", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "payroll_Number", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "date_of_Birth", "autoWidth": true, "className": "text-center", "defaultContent": "", "render": $.fn.dataTable.render.moment('YYYY-M-DDTHH:mm:ss', 'DD.MM.YYYY') },
                { "data": "telephone", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "mobile", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "address", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "address_2", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "postcode", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "eMail_Home", "autoWidth": true, "className": "text-center", "defaultContent": "" },
                { "data": "start_Date", "autoWidth": true, "className": "text-center", "defaultContent": "", "render": $.fn.dataTable.render.moment('YYYY-M-DDTHH:mm:ss', 'DD.MM.YYYY')},
                {
                    "data": "", "autoWidth": true, "className": "text-center", "defaultContent": "",
                    "render": function (data, type, full, meta) { return `<a href="/Employees/Details/${full.id}" class='btn btn-primary' style="margin-left:5px;margin-right:5px">Details</a><a class="btn btn-info" style="margin-left:5px;margin-right:5px" href="/Employees/Edit/${full.id}">Edit</a><a href="/Employees/Delete/${full.id}" style="margin-left:5px;margin-right:5px" class='btn btn-danger'>Delete</a>`; }
                }
            ]
        });
    });
</script>
